.hero__card {
    border-radius: 25px;
  --background: #888888;
  --color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .hero__cardLeft {
      margin: 15px;
      .hero__title{
        --color: #fff;
        font-size: 20px;
      }
      .hero__subtitle{
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 0px;
      }
      .hero_statusContainer{
        display: flex;
        align-items: center;
        .hero__statusLife{
          color: green;
        }
        .hero__statusDeath{
          color: red;
        }
        .hero__iconLife{
          margin-right: 10px;
          color: green;
        }
        .hero__iconDeath{
          margin-right: 10px;
          color: red;
        }
      }
    }
    .hero__cardRight {
      margin: 5%;
      .hero__iconEdit{
        font-size: 30px;
        color: #202020
      }
      .hero__iconRemove{
        font-size: 30px;
      }
    }
  }
  