<div class="hero__container">
  <ion-card *ngFor="let hero of heroList" class="hero__card">
    <div class="hero__cardLeft">
        <ion-card-title class="hero__title">{{ hero.Name }}</ion-card-title>
        <p class="hero__subtitle">{{ hero.Category.Name }}</p>
        <div class="hero_statusContainer">
          <ion-icon 
            [ngClass]="{ 'hero__iconLife': hero.Active, 'hero__iconDeath': !hero.Active }" 
            [name]="hero.Active ? 'heart-outline' : 'skull-outline'">
          </ion-icon>
          <p [ngClass]="{ 'hero__statusLife': hero.Active, 'hero__statusDeath': !hero.Active }">
            {{ hero.Active ? 'Vivo' : 'Morto' }}
          </p>
          
        </div>
        
    </div>

    <div class="hero__cardRight">
      <ion-buttons>
        <ion-button
          fill="clear"
          (click)="editHero(hero)"
          (click)="$event.stopPropagation()"
        >
          <ion-icon class="hero__iconEdit" slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button
          fill="clear"
          color="danger"
          (click)="deleteHero(hero)"
          (click)="$event.stopPropagation()"
        >
          <ion-icon class="hero__iconRemove" slot="icon-only" name="trash-outline" color="danger"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-card>
  <div *ngIf="enableLoad">
    <ion-infinite-scroll  #infiniteScroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content
        loadingText="Please wait..."
        loadingSpinner="bubbles"
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  
</div>
