
  .category__card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .category__cardLeft {
    }
    .category__cardRight {
      margin: 5%;
    }
  }


  