<ion-content>
  <div class="register__ModalContainer">
    <div class="register__HeaderContainer">
      <ion-button class="register__HeaderButton" (click)="closeModal()">
        <ion-icon class="register__HeaderIcon" name="close"></ion-icon>
      </ion-button>
    </div>
    
        
    <form #heroForm="ngForm" (ngSubmit)="onSubmit(heroForm)">
      <div class="register__container">
        <div class="register__title">Cadastro de Heróis</div>
  
        <div class="register__inputName">
          <ion-item class="register__inputNameCotainer">
            <ion-input
              class="register_input"
              type="text"
              name="heroName"
              fill="outline"
              placeholder="Nome"
              label="Nome"
              label-placement="floating"
              [(ngModel)]="hero.name"
              required
              minlength="3"
              #heroName="ngModel"
            ></ion-input>
          </ion-item>
          <div
            *ngIf="heroName.invalid && (heroName.dirty || heroName.touched)"
            class="error"
          >
            <div *ngIf="heroName.errors?.['required']">Nome é obrigatório.</div>
            <div *ngIf="heroName.errors?.['minlength']">
              Nome deve ter pelo menos 3 caracteres.
            </div>
          </div>
        </div>
  
        <div class="register__inputCategory">
          <ion-item class="register__inputCategoryContainer">
            <ion-label>Categoria</ion-label>
            <ion-select
              name="category"
              [(ngModel)]="hero.category"
              required
              class="register__inputCategorySelect"
              justify="end"
            >
              <ion-select-option
                *ngFor="let category of categories"
                [value]="category.Id"
              >
                {{ category.Name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>
  
        <div class="register__inputStatus">
          <ion-item class="register__inputStatusFirst">
            <ion-label>Status</ion-label>
          </ion-item>
          <ion-radio-group [(ngModel)]="hero.active" name="active">
            <ion-item lines="none">
              <ion-label>Vivo</ion-label>
              <ion-radio
                slot="start"
                [value]="true"
                aria-label="Status Vivo"
              ></ion-radio>
            </ion-item>
            <ion-item lines="none" class="register__inputStatusLast">
              <ion-label>Morto</ion-label>
              <ion-radio
                slot="start"
                [value]="false"
                aria-label="Status Morto"
              ></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>
  
        <div class="register__submitButton">
          <ion-button
            type="submit"
            [disabled]="heroForm.invalid"
            class="register__button"
          >
            Cadastrar
          </ion-button>
        </div>
      </div>
    </form>
  </div>
  
  
</ion-content>
