.register__HeaderContainer {
  display: flex;
  justify-content: flex-end;

  .register__HeaderButton {
    margin-top: 15px;
    margin-right: 25px;
    width: auto; 
    height: auto;
    --color: #202020;
    --border-color: #D9D9D9;
    --background: #bebebe;
    padding: 0; 

    ion-icon {
      font-size: 25px; // Define o tamanho normal do ícone
    }
  }
}

.register__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .register__title {
    margin: 10px;
    font-size: 35px;
  }

  .register__inputName {
    width: 70%;
    margin-bottom: 20px;
    .register__inputNameCotainer {
      border-radius: 10px;
    }
  }

  .register__inputCategory {
    width: 70%;
    margin-bottom: 20px;
    .register__inputCategoryContainer {
      border-radius: 10px;
    }
  }
  .register__inputStatus {
    width: 70%;
    .register__inputStatusFirst {
      --border-radius: 10px 10px 0px 0px;
    }
    .register__inputStatusLast {
      --border-radius: 0px 0px 10px 10px;
    }
  }

  .register__submitButton {
    margin: 30px;
    .register__button {
      --background: #09a722;
      --background-activated: #077c19;
      --border-radius: 5px;
      width: 100px;
      height: 40px;
    }
  }
}
