.searchbar__container{
    border: 2px #220022 solid;
    width: 240px;
    height: 30px;
    border-radius: 5px;
    margin: 20px auto; 
    display: flex;
    justify-content: center; 
    align-items: center;
    .searchbar__content{
        display: flex;
        align-items: center;
        .searchbar__input{
            text-align: left; 
            margin-left: 10px;
        }
        .searchbar__icon{
            text-align: right;
            height: 25px;
            margin-right: 10px;
        }
    }
}